In [2]:
import pandas as pd
import numpy as np

In [3]:
#we have to skip first 6 rows cause they contains headings which we dont require 
df1 = pd.read_excel("/home/mridul/Downloads/gp-comments-and-responses.xls", skiprows = 6) 
#df1 should only contains columns of reviews that is liked and disliked reviews 
df1 = df1[["Liked", "Disliked"]]

In [4]:
#To check wether it worked or not, lets print first few lines of the df1
df1.head()

,Liked,Disliked
0,Friendly patient (pun not intended) attitude o...,Waiting times are often quite protracted as on...
1,NaN,"They work less hours 4 hours a day as doctors,..."
2,I had tried to register at this surgery as my ...,NaN
3,"Clean, smart surgery, polite and friendly rece...",A female GP would be nice
4,NaN,This is the second time when I come across sta...

In [11]:
#Create a dataframe which will contain all the positive reviews 
df = pd.DataFrame()
#Create two columns as reviews and sentiment associated with that review
df["REVIEW"] = []
df["SENTIMENT"] = []

In [12]:
#create a numpy array of the df1 reviews so that it can be added to final dataframe i.e. df
arr1 = np.array(df1["Liked"])
#Next line will remove the null values i.e NaN values from the numpy array
arr1 = arr1[~pd.isnull(arr1)]
#Create a list of 'Positive' word for the sentiment column
df1_liked = ["Positive"]*(len(arr1)-1) #Here we are adding "Positive" sentiment for the liked comments and it's 
#length is decreased by 1 cause last line in reviews is total number of reviews in the file(i.e. not a review)

In [13]:
#Add the liked reviews to the final data frame
df["REVIEW"] = arr1[:-1] #same reason as mentioned in above cell, the length is decreased by 1
#Add sentiment to the data frame
df["SENTIMENT"] = df1_liked

In [14]:
#Print the dataframe to check wether it is fine or not 
df

                                                 REVIEW SENTIMENT
0     Friendly patient (pun not intended) attitude o...  Positive
1     I had tried to register at this surgery as my ...  Positive
2     Clean, smart surgery, polite and friendly rece...  Positive
3     It's been a year since I have been with this  ...  Positive
4     I have lived in many parts of the Country and ...  Positive
...                                                 ...       ...
1564                                Polite receptionist  Positive
1565  Unable to get an appointment for over 1 week, ...  Positive
1566  The doctor is the best GP in the practice, exc...  Positive
1567  The doctor is the best GP in the practice, exc...  Positive
1568  My appointment was for 4.00pm and I arrived 5 ...  Positive

[1569 rows x 2 columns]

In [15]:
#Similarly we will add the disliked comments to the dataframe and label them as negative by creating numpy array
arr2 = np.array(df1["Disliked"])
#Remove the Nan values 
arr2 = arr2[~pd.isnull(arr2)]
#Add label 'Negative' to the sentiment columns for the disliked comments
df1_disliked = ["Negative"]*(len(arr2)-1)

In [16]:
#Now we will create a temporary dataframe which will contain all the disliked/negayive reviews 
dfd = pd.DataFrame()
#Create columns
dfd["REVIEW"] = []
dfd["SENTIMENT"] = []

In [17]:
#Add the reviews and sentiments 
dfd["REVIEW"] = arr2[:-1]
dfd["SENTIMENT"] = df1_disliked

In [18]:
#Preview of the dfd which contains the negative reviews 
dfd

                                                 REVIEW SENTIMENT
0     Waiting times are often quite protracted as on...  Negative
1     They work less hours 4 hours a day as doctors,...  Negative
2                             A female GP would be nice  Negative
3     This is the second time when I come across sta...  Negative
4     I think they really need better appointment sy...  Negative
...                                                 ...       ...
1495  I would like to start by saying that the major...  Negative
1496  I would like to start by saying that the major...  Negative
1497  impossible to contact by phone\ndifficult to o...  Negative
1498  I could have been told that the doctor was run...  Negative
1499  I am used to ordering repeat prescriptions onl...  Negative

[1500 rows x 2 columns]

In [20]:
#Now we will concatinate the two dataframes (Positive and Negative Reviews) into one dataframe 
df = pd.concat([df, dfd], axis = 0) #Axis will be zero so that columns remain the same

In [21]:
#The final data set
df

                                                 REVIEW SENTIMENT
0     Friendly patient (pun not intended) attitude o...  Positive
1     I had tried to register at this surgery as my ...  Positive
2     Clean, smart surgery, polite and friendly rece...  Positive
3     It's been a year since I have been with this  ...  Positive
4     I have lived in many parts of the Country and ...  Positive
...                                                 ...       ...
1495  I would like to start by saying that the major...  Negative
1496  I would like to start by saying that the major...  Negative
1497  impossible to contact by phone\ndifficult to o...  Negative
1498  I could have been told that the doctor was run...  Negative
1499  I am used to ordering repeat prescriptions onl...  Negative

[3069 rows x 2 columns]

In [22]:
#Now we will import another file for the more reviews and follow the same steps in creating the data set and 
#concatinate it two the above data frame

In [25]:
#THESE ARE THE SAME STEPS AS FOLLOWED ABOVE

In [23]:
df2 = pd.read_excel("/home/mridul/Downloads/hospital-comments-report (1).xls", skiprows = 6)

In [24]:
df2 = df2[["Liked","Disliked"]]

In [29]:
arr3 = np.array(df2["Liked"])
arr3 = arr3[~pd.isnull(arr3)]
df2_liked = ["Positive"]*(len(arr3))

In [30]:
dfd = pd.DataFrame()
dfd["REVIEW"] = []
dfd["SENTIMENT"] = []

In [31]:
dfd["REVIEW"] = arr3
dfd["SENTIMENT"] = df2_liked

In [32]:
#concatinate the dfd data frame with the main dataframe 
df = pd.concat([df,dfd], axis=0)

In [35]:
arr4 = np.array(df2["Disliked"])
arr4 = arr4[~pd.isnull(arr4)]
df2_dislike = ["Negative"]*len(arr4)

In [37]:
dfd = pd.DataFrame()
dfd["REVIEW"] = []
dfd["SENTIMENT"] = []

In [38]:
dfd["REVIEW"] = arr4
dfd["SENTIMENT"] = df2_dislike

In [39]:
#Concatinate the reviews
df = pd.concat([df,dfd], axis = 0)

# The Final DataSet

In [40]:
df

                                                  REVIEW SENTIMENT
0      Friendly patient (pun not intended) attitude o...  Positive
1      I had tried to register at this surgery as my ...  Positive
2      Clean, smart surgery, polite and friendly rece...  Positive
3      It's been a year since I have been with this  ...  Positive
4      I have lived in many parts of the Country and ...  Positive
...                                                  ...       ...
10672  My friend who was in for at least a month with...  Negative
10673  Id be interested in your views and help in und...  Negative
10674  More nice staff like those two, the nurses wer...  Negative
10675  Visited my relative on WD14 today and the nurs...  Negative
10676                                   the waiting time  Negative

[26029 rows x 2 columns]

In [41]:
#Now save the data frame by cretaing a csv file 
df.to_csv("DataSet.csv")